@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  background-color: #2c233d;
  @apply text-white;
}

.animate-text {
  animation-name: text-animation;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
}

.bg-pattern-landing {
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='59.428' patternTransform='scale(6) rotate(30)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(66, 70%, 54%, 0)'/><path d='M0 70.975V47.881m20-1.692L8.535 52.808v13.239L20 72.667l11.465-6.62V52.808zm0-32.95l11.465-6.62V-6.619L20-13.24 8.535-6.619V6.619L20 13.24m8.535 4.927v13.238L40 38.024l11.465-6.62V18.166L40 11.546zM20 36.333L0 47.88m0 0v23.094m0 0l20 11.548 20-11.548V47.88m0 0L20 36.333m0 0l20 11.549M0 11.547l-11.465 6.619v13.239L0 38.025l11.465-6.62v-13.24L0 11.548v-23.094l20-11.547 20 11.547v23.094M20 36.333V13.24'  stroke-linecap='square' stroke-width='0.5' stroke='hsla(0, 0%, 100%, 0.01)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-6,-5.136)' fill='url(%23a)'/></svg>");
}

.bg-pattern-skills {
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='100' height='82' patternTransform='scale(12) rotate(95)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M74.4-14.6l-24 41.1h48l-24-41.1zm0 82l-24 41.1h48l-24-41.1z'  stroke-width='1' stroke='none' fill='hsla(46, 100%, 50%, 0.031)'/><path d='M0 0l24 41.1L48 0H0zm-1.6 26.5l-24 41.1h48l-24-41.1zm100 0l-24 41.1h48l-24-41.1z'  stroke-width='1' stroke='none' fill='hsla(112, 100%, 50%, 0.031)'/><path d='M24 41.1l24 41.1 24-41.1H24z'  stroke-width='1' stroke='none' fill='hsla(176, 98%, 48%, 0.031)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}
.bg-pattern-projects {
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='120' height='120.1' patternTransform='scale(2) rotate(45)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M79.6-6.4v24.8H62.7V2.3h7.4v11h4.3V-1.9H58.5v24.6h25.4V-6.4H89v29.1h25.4V-1.9H98.5v16.1h4.2V2.3h7.4v16.1H93.2V-6.4zm-41.7 76v4.2H54V57.9H29.5v25.3h29.2v5.1H29.5v25.3H54V97.7H38.8v4.2h11v7.4H33.7V92.4h25v21.2h21v24.8l-17-15.9h11.6v-4.2H58.4v4.2l21.1 20.3h4.2v-29h5.1v29H93l21.1-20.3v-4.2H98.2v4.2h11.6l-16.9 16.1v-24.8h21.4V92.6h24.6l-16.1 16.9V97.9h-4.2v15.9h4.2l20.3-21.1v-4.2h-28.8v-5.1h28.8v-4.2l-20.3-21.1h-4.2V74h4.2V62.4l16.1 16.9h-24.6V58.1H92.9V33.3h16.9v16.1h-7.4V37.5h-4.2v16.1h15.9V29.1H88.8v29h-5.1v-29H58.5v24.5h15.9V38.4h-4.2v11h-7.4V33.3h16.9v24.8h-21v21.2h-25V62.4h16.1v7.4H37.9zm25-7.4h47.4v47.4H62.9zM0 52.5h52.5V0H0zM4 3.9h44.6v44.6H4zm-9.5 88.8h24.6v16.9H3v-7.4h11v-4.3H-1.2v15.9h24.5V88.4H-5.5v-5.1h28.8V57.9H-1.2v15.9h16.1v-4.2H3v-7.4h16.1v16.9H-5.5zm39.1-72h14.6L40.9 13zm-14.6 0h14.6L26.3 13zm-14.6 0H19L11.7 13zM4.1 8.6h44.7v3.3H4.1zm29.5 28.8h14.6l-7.3-7.6zm-14.6 0h14.6l-7.3-7.6zm-14.6 0H19l-7.3-7.6zm-.3 3.1h44.7v3.3H4.1zm0-15.1h44.7v3.3H4.1zm82.6 55.5a5.8 5.8 0 105.8 5.8c-.1-3.2-2.7-5.8-5.8-5.8zm0 15.9c-5.6 0-10.2-4.6-10.2-10.2s4.6-10.2 10.2-10.2S96.9 81 96.9 86.6c0 5.7-4.6 10.2-10.2 10.2zm-13.8 3.6h27.5V72.9H72.9zm31.9 4.4H68.5V68.5h36.3z'  stroke-width='1' stroke='none' fill='hsla(259, 59%, 59%, 0.02)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='100' height='173.21' patternTransform='scale(10) rotate(30)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M0 0v4.74L2.73 0zm4.14 0 6.44 11.15 2.38-4.12L8.9 0zm23.81 0 .49.84h-14.3l2.39 4.13h11.9l-7.14 12.37h4.77L34.39 2.9 32.71 0zm9.52 0 .49.84h19.05l7.14 12.37H49.87l2.38 4.13h11.9l-7.14 12.37h4.76l8.34-14.44L61.28 0zm28.57 0 7.64 13.21h19.04l7.15 12.37h-14.3l2.39 4.13h11.9l-7.14 12.37h4.77l2.5-4.34V17.57l-3.7-6.42 3.7-6.41V0h-2.01l-5.25 9.1H78.44L83.7 0h-4.77l-4.06 7.03L70.81 0zm22.41 0-2.87 4.97h4.76L93.21 0zm-50.5 4.97-9.51 16.5h-14.3l7.15-12.38h-4.76L10.58 19.4 3.44 7.03l-2.39 4.12 8.34 14.43h19.05l7.14 12.38H21.29l2.39 4.12h11.9l-7.14 12.38h4.75l8.34-14.44-9.52-16.5 7.14-12.37 7.14 12.37 2.38-4.12-5.95-10.3h14.29l-2.38-4.13zm35.72 12.37-9.52 16.5H49.87l7.14-12.38h-4.76l-5.96 10.31-7.14-12.37-2.38 4.12 8.33 14.44h19.05l7.14 12.37H57.01l2.38 4.13h11.9l-7.14 12.37h4.76l8.33-14.44-9.52-16.5 7.14-12.37 7.15 12.38 2.38-4.13-5.95-10.3h14.28l-2.38-4.13zM0 17.57v20.16l5.82-10.08zm9.39 12.14-9.4 16.27v4.57L7 62.71H0v4.12h7L0 78.97v.23h4.63l8.33-14.43-9.52-16.5 7.14-12.37 7.14 12.37 2.38-4.13-5.95-10.3h14.29l-2.38-4.13zm65.47 2.06-2.38 4.13 8.34 14.43h19.05l.13.22v-4.57l-.13.23h-14.3l7.15-12.38h-4.76l-5.95 10.31zM45.1 42.08l-9.52 16.5H21.29l7.15-12.37h-4.76l-5.96 10.3-7.14-12.37-2.38 4.13 8.33 14.44h19.05l7.14 12.37H28.44l2.38 4.12h11.9l-7.14 12.37h4.76l8.33-14.43-9.52-16.5 7.14-12.37 7.15 12.37 2.38-4.12-5.95-10.31h14.28l-2.38-4.13zm35.72 12.38-9.53 16.49H57.01l7.14-12.37h-4.76l-5.95 10.3-7.15-12.36-2.37 4.12 8.33 14.44h19.04l7.15 12.37h-14.3l2.39 4.12h11.9l-7.14 12.37h4.77l8.33-14.43-9.53-16.5 7.15-12.37 7.14 12.37 2.38-4.12-5.95-10.31h14.29l-2.39-4.12zm11.9 8.25 2.38 4.12h4.9v-4.12zm-76.2 4.12L7 83.33H0v4.12h7l7.15 12.37H0v.23l2.25 3.9h11.9L7 116.31h4.77l8.33-14.43-9.52-16.5 7.14-12.37 7.14 12.37 2.38-4.12-5.95-10.31h14.29l-2.39-4.12zm65.49 2.06-2.38 4.12 8.33 14.44H100v-4.13h-7.28l7.15-12.37H95.1l-5.95 10.3zM100 78.97l-.13.23h.13zm-47.75.23-9.53 16.5H28.44l7.14-12.38h-4.76l-5.96 10.31-7.14-12.37-2.38 4.12 8.34 14.44h19.04l7.15 12.37h-14.3l2.39 4.12h11.9l-7.14 12.37h4.76l8.34-14.43-9.53-16.5 7.15-12.37 7.14 12.38 2.38-4.13-5.95-10.3h14.28l-2.38-4.13zM0 91.57v4.12h7l-2.37-4.12zm87.96 0-9.52 16.5h-14.3l7.15-12.38h-4.76L60.58 106l-7.14-12.37-2.39 4.13 8.34 14.43h19.05l7.14 12.37H71.29l2.38 4.12h11.9l-7.13 12.38h4.76l8.33-14.44-9.52-16.5 7.14-12.36 7.14 12.37 2.38-4.13-5.95-10.3H100v-4.13zm11.9 8.25.14.22v-.22zm-76.18 4.12-9.53 16.5H0v4.12h14.15l7.14 12.37H7l2.39 4.13h11.9l-7.14 12.37h4.76L27.24 139l-9.52-16.5 7.14-12.37 7.15 12.37 2.38-4.13-5.95-10.3h14.28l-2.38-4.13zM89.15 106l-2.38 4.13 8.33 14.43h4.9v-4.12h-.13l.13-.22v-8.26l-3.7 6.41zm-86.9 2.07L0 111.97v8.24l7-12.14zm57.14 8.24-9.52 16.5h-14.3l7.15-12.37h-4.76l-5.95 10.3-7.15-12.37-2.38 4.13 8.34 14.43h19.05l7.14 12.38H42.72l2.38 4.12h11.91l-7.14 12.37h4.76l8.33-14.43-9.52-16.5 7.14-12.37 7.14 12.37 2.39-4.12-5.96-10.31h14.29l-2.38-4.13zm-59.4 12.37v4.13h14.16l-2.38-4.13zm95.11 0-9.52 16.5H71.29l7.14-12.37h-4.75l-5.96 10.31-7.14-12.37-2.38 4.12 8.33 14.44h19.05l7.14 12.37H78.43l2.39 4.12h11.9l-4.27 7.4h4.76l5.46-9.46-9.52-16.5 7.14-12.37 3.7 6.42v-8.26l-.12-.23h.13v-4.13zM0 133.04v8.25l3.44 5.95 2.38-4.12zm30.82 8.02-9.53 16.5H7l7.15-12.38H9.39l-5.95 10.31L0 149.54v8.24l2.25 3.9h19.04l6.66 11.52h4.76l-7.85-13.58 7.15-12.38 7.14 12.38 2.38-4.13-5.95-10.3h14.29l-2.39-4.13zm65.47 2.06-2.38 4.12 6.09 10.55v-8.25zm-29.76 10.3-9.52 16.5H42.72l7.15-12.37H45.1l-5.95 10.32-7.14-12.38-2.38 4.13 7.84 13.58h23.81l-.7-1.21 7.14-12.37 7.14 12.37 2.38-4.12-5.95-10.32h14.29l-2.38-4.12zM2.25 165.8 0 169.7v3.5h2.73l.7-1.21.7 1.21H8.9L7 169.93h14.3l-2.39-4.13zm65.47 2.07-2.38 4.12.7 1.21h4.76zm32.28 1.82-2.03 3.51H100zm-19.18.24-1.9 3.27h4.77l1.89-3.27z'  stroke-width='1' stroke='none' fill='hsla(259, 0%, 0%, 0.05)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

@keyframes text-animation {
  0% {
    color: #3caea300;
  }
  50% {
    color: #3caea3ff;
  }
  100% {
    color: #3caea300;
  }
}

.airplane {
  left: calc(40vw + 100px);
  height: 150px;
  width: 75px;
  position: absolute;
  animation-duration: 10000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.airplane-1 {
  left: calc(50vw + 100px);
  animation-delay: -1876ms;
  animation-duration: 8300ms;
  scale: 0.9;
}
.airplane-2 {
  scale: 0.8;
  left: calc(20vw + 100px);
  animation-delay: -3873ms;
  animation-duration: 5300ms;
}
.airplane-3 {
  scale: 1.1;
  left: calc(80vw + 100px);
  animation-delay: -3873ms;
  animation-duration: 10900ms;
}
.airplane-4 {
  scale: 1.1;
  left: calc(-10vw + 100px);
  animation-delay: -6873ms;
  animation-duration: 11500ms;
}
#airplaneRadius {
  transform: rotate(-270deg);
  transform-origin: bottom;

  animation-name: airplane-animation;
}

#airplanePic {
  width: 75px;
  height: 75px;
}

@keyframes airplane-animation {
  0% {
    transform: translate(0, 0) rotate(-270deg) scaleX(1);
  }
  25% {
    transform: translate(0, 0) rotate(-90deg) scaleX(1);
  }
  25.01% {
    transform: translate(0, 0) rotate(-90deg) scaleX(1);
  }

  50% {
    transform: translate(0, 0) rotate(90deg) scaleX(1);
  }
  50.01% {
    transform: translate(225px, 0) rotate(270deg) scaleX(-1);
  }

  75% {
    transform: translate(225px, 0) rotate(90deg) scaleX(-1);
  }
  75.01% {
    transform: translate(225px, 0) rotate(90deg) scaleX(-1);
  }

  100% {
    transform: translate(225px, 0) rotate(-90deg) scaleX(-1);
  }
}
